*{
    margin: 0;
    padding: 0;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Rubik', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/NgeeAnnCampus.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 300px;

}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FFFF00;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.tag{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.tag:hover{
    border: 1px solid #00ffff;
    background: #00ffff;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
/*---------------about me page--------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/graduate.jpg);
    background-position: center;
    background-size: cover;
    font-size: x-large;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;  
}
.about-me{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.col img{
    width: 30%;
    float: right;
    border-radius: 50%;
}
.col p{
    padding: 15px 0 25px;
    text-align: left;
}
.btn{
    border: 1px solid #3639f4;
    background:transparent;
    color: #3639f4; 
}
.btn:hover{
    color: #fff;
}

/*------------Certificate--------------*/

.certificate{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.cert-col{
    flex-basis: 32%;
    border-radius: 1px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.cert-col img{
    width: 50%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 50%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*------------contact page-------------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
}